altgraph==0.17.5
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6-sip==13.11.1
packaging==26.2
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pywin32-ctypes==0.2.3
setuptools==82.0.1
pyarmor>=9.1,<10
